# Braze API Credentials
BRAZE_API_KEY=braze-with-permissions-api-key
BRAZE_API_URL=https://your-braze-server.braze.com


# Configuración de exportación
EXPORT_DIRECTORY=./exports

# Configuración del servidor
PORT=3000

# ID del segmento que contiene todos los usuarios
ALL_USERS_SEGMENT_ID=segment-braze-id

# AWS Credentials para acceder a los archivos de exportación
#AWS_ACCESS_KEY_ID=AKIAWL7HL6VVSNUPBF7H
#AWS_SECRET_ACCESS_KEY=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
#AWS_REGION=us-east-1