# Braze API Credentials
BRAZE_API_KEY=tu-clave-api-de-braze
BRAZE_API_URL=https://tu-servidor-braze.braze.com


# Configuración de exportación
EXPORT_DIRECTORY=./exports

# Configuración del servidor
PORT=3000

# ID del segmento que contiene todos los usuarios
ALL_USERS_SEGMENT_ID=id-del-segmento-braze

# AWS Credentials para acceder a los archivos de exportación
# AWS_ACCESS_KEY_ID=TU-ACCESS-KEY-AQUI
# AWS_SECRET_ACCESS_KEY=TU-SECRET-KEY-AQUI
# AWS_REGION=tu-region-aws